@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="text" id="nickval" placeholder="Ник в чате"/>
<input type="text" id="textval" placeholder="Сообщение" />
<button id="sendmessage">Send</button>

<div id="chat">
    
</div>